<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TOTD Index page</title>

  </head>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
<!--         <table class = "navigation">
          <tr><th><a href="/signup">Sign Up</a></th><th><a href="/login">Log In</th><th><a href="/logout">Log Out</th></tr>
        </table> -->
      </div>
    </div>
  </div><!-- .container  -->

  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 center">
      <h1>TOTD: Twitter/Topic Of The Day Forum</h1>
      <br><br>
       <table class = "table table-hover comment">
      <% @topics.each do |topic| %>
      <tr>
        <th>
          <h3 class="center"><a href="/topics/<%= topic.id %>"><%= topic.name %></a></h3>
        </th>
      </tr>
      <% end %> 
    </div>
    <div class="col-sm-2"></div>
  </div> 
  </div>
  </body>
</html>